* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: #000000;
  background-image: url(../Screenshots/stock-photo-ox-tic-tac-toe-wood.jfif);
  background-position: center;
  background-position: cover;
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  width: 100%;
}

span {
  color: rgba(21, 221, 6, 1);
}

h1 {
  margin-top: 2em;
  font-size: 40px;
}

#winMsg h1 {
  color: rgba(21, 221, 6, 1) !important;
  font-size: 5vh;
  font-family: "Times New Roman", Times, serif;
}

.grid {
  margin-top: 6em;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-gap: 20px;
  /* padding: 2em; */
}

.box {
  width: auto;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgb(9, 80, 29);
  background: radial-gradient(
    circle,
    rgba(9, 80, 29, 1) 0%,
    rgba(21, 221, 6, 1) 51%,
    rgba(9, 80, 29, 1) 100%
  );
  border: 2px solid whitesmoke;
}

.box:hover {
  transform: scale(1.1);
  transition: ease-in-out;
}

.icon {
  font-size: 50px;
  color: whitesmoke;
  padding: -30px;
}

.notice {
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: whitesmoke;
  font-weight: 700;
}

.bg-warning {
  --bs-bg-opacity: 0;
}

.relode-btn {
  height: 6vh;
  background-color: #f07900;
  color: whitesmoke;
  border: 2px solid whitesmoke;
  border-radius: 10px;
  font-size: medium;
}

@media screen and (max-width: 420px) {
  h1 {
    font-size: 26px;
    margin-bottom: -75px;
  }
  #winMsg h1 {
    font-size: 3vh;
    padding-bottom: 4em;
  }
}

@media screen and (max-width: 320px) {
  h1 {
    font-size: 16px;
    margin-bottom: -25px;
  }
  #winMsg h1 {
    font-size: 3vh;
    padding-bottom: 2em;
  }
}
